body {
    background-color: #343A40;
    color: white;
}

a, a:link, a:hover, a:active {
    color: white;
}
.nav-tabs .nav-link.active {
    background-color: #343A40;
    color: white;
    border-left-color: white;
    border-top-color: white;
    border-right-color: white;
    border-bottom-color: #343A40;
}
.card {
    background-color: #343A40;
    border-color: white;
}

#footer .btn {
    color: white;
}
.table {
    color: white;
}
.nav-tabs .nav-link {
    color: white;
}
#title {
   margin-top: 50px;
}
#content {
    margin-top: 20px;
}
#footer {
    margin-top: 50px;
}
.subsection {
    font-weight: bold;
}
.subsubsection {
    text-decoration: underline;
}
.screenimg {
    max-width: 75%;
}
.carousel {
    max-width: 75%;

}
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
    filter: invert(1)
}
.carousel-caption {
    color: black;
}
.OS {
    color: violet;
}
#avatar {
    display: flex;
    max-width: 25%;
}
